:root {
    --orange: rgb(194, 107, 57);
    --purple: rgb(168, 102, 185);
    --pink: rgb(190, 77, 124);
    --width: 263px;
}

html {
    background: url(/Images/pexels-aleksandar-pasaric-2067057.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Caveat', cursive;
}

#calc-body {
    position: relative;
    border: 8px solid black;
    width: fit-content;
    background-color: rgba(36, 36, 36, 0.801);
    box-shadow: 4px 4px 50px 8px rgba(255, 255, 255, 0.418);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin: -85px auto 30px auto;
    z-index: 10;
    transform: scale(0.9);
}

#display, .btn {
    border: 2px solid black;
    border-radius: 10px;
}

#display {
    background-color: rgba(185, 183, 185, 0.945);
    width: 100%;
    height: 85px;
    display: flex;
    text-align: right;
    justify-content: end;
    align-items: center;
    margin-bottom: 8.5px;
    box-shadow: 1px 3px 7px inset #383737d8;
}

#display-num {
    padding: 17px;
    font-size: 55px;
    color: black;
}

#display, #btn-container {
    max-width: var(--width);
    min-width: var(--width);
}

#btn-container {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    height: 63px;
    width: 63px;
    background-color: var(--purple);
    color: black;
    font-size: 31px;
    font-weight: 700;
    border: 3px solid rgb(0, 0, 0);
    font-family: 'Caveat', cursive;
    margin: 1px;
    transition: all .07s ease;
    box-shadow: 1px 5px 10px #242323d8;
}
.op {
    background-color: var(--pink);
}

.double  {
    width: calc((var(--width) - 4px) / 2);
}

.colored {
    background-color: var(--orange);
}

.btn.huge {
    width: var(--width);
    background-color: var(--orange);
    margin-top: 4px;
}

.btn:hover {
    filter: brightness(130%);
    transform:translateY(-2px);
}

/* music player */

#music-player {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 15%;
    border: 8px solid black;
    background-color: rgba(36, 36, 36, 0.801);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0px 20px;
    padding: 5px 10px;
    z-index: 10;
    transition: box-shadow 0.5s linear;
}

#music-player:hover {
    box-shadow: 0px 4px 30px 7px rgba(255, 255, 255, 0.589);
    transition: box-shadow 0.5s linear;
}

#play, #pause {
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#play:hover, #pause:hover {
    background-color: var(--pink);
}

/* sound wave */

#bar-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#bars {
    position: absolute;
    /* visibility: hidden; */
    opacity: 0;
    width: 180px;
    transform: scale(4);
    box-shadow: 0px 4px 20px 7px rgba(255, 255, 255, 0.644);
}

.bar {
    position: absolute;
    bottom: 0px;
    height: 3px;
    width: 1px;
    background: #1f1e1e;
    animation: sound 0ms -800ms linear infinite alternate;
    transform: translateY(50%);
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

#bars.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 2s, opacity 2s linear;
}

#bars.invisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

