:root {
    --orange: rgba(194, 107, 57, 0.87);
    --purple: rgba(168, 102, 185, 0.89);
    --pink: rgba(190, 77, 124, 0.89);
}

html {
    background: url(/Images/pexels-aleksandar-pasaric-2067057.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Caveat', cursive;
}

#calc-body {
    border: 8px solid black;
    width: fit-content;
    /* background-color: rgba(7, 6, 87, 0.788); */
    background-color: rgba(36, 36, 36, 0.801);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin: 30px auto;
}

#display, .btn {
    border: 2px solid black;
    border-radius: 10px;
}

#display {
    background-color: rgba(185, 183, 185, 0.945);
    width: 100%;
    height: 100px;
    display: flex;
    text-align: right;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
}

#display-num {
    padding: 20px;
    font-size: 60px;
    color: black;
}

#display, #btn-container {
    max-width: 300px;
    min-width: 300px;
}

#btn-container {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    height: 75px;
    width: 75px;
    background-color: var(--purple);
    color: black;
    font-size: 35px;
    font-weight: 600;
    border: 2px solid black;
    font-family: 'Caveat', cursive;
} 
.op {
    background-color: var(--pink);
}

.double  {
    width: 150px;
}

.colored {
    background-color: var(--orange);
}

.btn.huge {
    width: 300px;
    background-color: var(--orange);
}

.btn:hover {
    filter: brightness(80%);
    /* background-color: rgba(231, 163, 61, 0.945); */
}